h1{
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    text-align: center;
    font-size: 28px;
}
li{
    font-size: 20px;
}
